* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
  max-width: 100%;
}

.boton {
  position: fixed;
  padding: 35px;
  margin: 10px;
  bottom: 0;
  right: 0;
  border: 3px black solid;
  background-color: whitesmoke;
  border-radius: 100%;
}

.notas {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.nota {
  border: 5px wheat solid;
  background-color: whitesmoke;
}
