* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
}

.boton {
  position: fixed;
  padding: 35px;
  margin: 10px;
  bottom: 0;
  right: 0;
  background-color: whitesmoke;
  border-radius: 50% 50%;
}
